In [2]:
print("Hello, World!")

Hello, World!

# Python Comments

In [4]:
#This is a comment
print("Hello, World!")

Hello, World!

In [5]:
print("Hello, World!") #This is a comment

Hello, World!

Multi Line Comments

In [14]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

# Python Variables

In [7]:
x=10
y="Raihan"
z =50.5
print(x)
print(y)
print(z)

10
Raihan
50.5

In [8]:
x=10
y="Raihan"
z =50.5

print(x,y,z)

10 Raihan 50.5

Casting

In [10]:
x = str(10)      # x will be string '10'
y = int(10)      # y will be integer 10
z = float(10)    # z will be decimal 10.0
xx = complex(10) # xx will be 10+0j

print(x)
print(y)
print(z)
print(xx)

10
10
10.0
(10+0j)

In [11]:
x = "Raihan"
print(x)
# double quotes are the same as single quotes:
x = 'Raihan'
print(x)

Raihan
Raihan

In [13]:
# Case-Sensitive

a = 10
A = "Raihan"
print(a)
print(A)

10
Raihan

 Valid Variable Names

In [15]:
myname = "Raihan"
my_name = "Raihan"
_my_name = "Raihan"
myName = "Raihan"
MYNAME = "Raihan"
Myname2 = "Raihan"


print(myname)
print(my_name)
print(_my_name)
print(myName)
print(MYNAME)
print(Myname2)

Raihan
Raihan
Raihan
Raihan
Raihan
Raihan

 Invalid Variable Names

In [16]:
"""
2myname = "Raihan"
my-name = "Raihan"
my name = "Raihan"

"""

'\n2myname = "Raihan"\nmy-name = "Raihan"\nmy name = "Raihan"\n\n'

# Multi Words Variable Names

Camel Case

In [22]:
# Each word, except the first, starts with a capital letter:

myVariableName = "Raihan"

print(myVariableName)

Raihan

Pascal Case

In [23]:
# Each word starts with a capital letter:

MyVariableName = "Raihan"

print(MyVariableName)

Raihan

Snake Case

In [24]:
# Each word is separated by an underscore character:

my_variable_name = "Raihan"

print(my_variable_name)

Raihan

Many Values to Multiple Variables

In [1]:
x,y,z = 10 ,"Car", 20
print(x)
print(y)
print(z)

10
Car
20

One Value to Multiple Variables

In [2]:
x = y = z = "car"

print(x)
print(y)
print(z)

car
car
car

Unpack Collection

In [3]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [4]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [5]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [6]:
x = 5
y = 10
print(x + y)

15

In [7]:
x = "5"
y = "10"
print(x + y)

510

Global Variables

In [8]:
x = "awesome"

def function():
    print("Python is "+x)

function()

Python is awesome

In [9]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [10]:
# The global Keyword

def myfunc():
  global x
  x = "fantastic"

myfunc()
print("Python is " + x)

Python is fantastic

In [11]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Complex Number

In [12]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [13]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [1]:
# Random Number
import random

print(random.randrange(1, 10))

6

# Python Strings

In [2]:
print("Hello")
print('Hello')

Hello
Hello

In [3]:
a = "Hello, World!"
print(a[0])
print(a[1])

H
e

In [4]:
for  x in "Raihan":
    print(x)

R
a
i
h
a
n

String Length

In [6]:
a = "Raihan"
print(len(a))

6

In / Not in

In [7]:
text  = " Ronaldo is the best player in the world"
print("best" in text)

True

In [8]:
text  = " Ronaldo is the best player in the world"

if "best" in text:
    print("Yes, 'best' is present.")

Yes, 'best' is present.

In [9]:
text  = " Ronaldo is the best player in the world"
print("expensive" not in text)

True

In [10]:
text  = " Ronaldo is the best player in the world"

if "expensive" not in text:
    print("No, 'expensive' is not present.")

No, 'expensive' is not present.

Slicing Strings

In [11]:
n = "Raihan Sikdar"
print(n[2:9])

ihan Si

In [13]:
n = "Raihan Sikdar"
print(n[:11])

Raihan Sikd

In [17]:
n = "Raihan Sikdar"
print(n[-5:-3])

ik

Strings Modify

Upper Case

In [23]:
n = "Raihan Sikdar"
print(n.upper())

RAIHAN SIKDAR

Lower Case

In [24]:
n = "RaiHaN sikDaR"
print(n.lower())

raihan sikdar

String Concatenation

In [28]:
n = "Raihan"
m = "Sikdar"
print(n+m)

RaihanSikdar

In [29]:
n = "Raihan"
m = "Sikdar"
r = "Raihan" + " " + "Sikdar"
print(r)

Raihan Sikdar

String Format

In [33]:
age = 24
txt = "My name is Raihan, I am {}"
print(txt.format(age))

My name is Raihan, I am 24

In [34]:
quantity = 3
item_no = 567
price = 49.95
my_order = "I want {} pieces of item {} for {} dollars."
print(my_order.format(quantity, item_no, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [36]:
quantity = 3
item_no = 567
price = 49.95
my_order = "I want to pay {2} dollars for {0} pieces of item {1}."
print(my_order.format(quantity, item_no, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

Escape Characters

In [38]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

# Python Operators

Arithmetic Operators

In [41]:
x = 21
y = 5
print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y)
print(x ** y) # same as 21*21*21*21*21
print(x // y)

26
16
105
4.2
1
4084101
4

Comparison Operators

In [42]:
x = 5
y = 3

print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

False
True
True
False
True
False