In [8]:
print("Hello, World!")

Hello, World!

# Python Comments

In [9]:
#This is a comment
print("Hello, World!")

Hello, World!

In [10]:
print("Hello, World!") #This is a comment

Hello, World!

Multi Line Comments

In [11]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

# Python Variables

In [12]:
x=10
y="Raihan"
z =50.5
print(x)
print(y)
print(z)

10
Raihan
50.5

In [13]:
x=10
y="Raihan"
z =50.5

print(x,y,z)

10 Raihan 50.5

Casting

In [14]:
x = str(10)      # x will be string '10'
y = int(10)      # y will be integer 10
z = float(10)    # z will be decimal 10.0
xx = complex(10) # xx will be 10+0j

print(x)
print(y)
print(z)
print(xx)

10
10
10.0
(10+0j)

In [15]:
x = "Raihan"
print(x)
# double quotes are the same as single quotes:
x = 'Raihan'
print(x)

Raihan
Raihan

In [16]:
# Case-Sensitive

a = 10
A = "Raihan"
print(a)
print(A)

10
Raihan

 Valid Variable Names

In [17]:
myname = "Raihan"
my_name = "Raihan"
_my_name = "Raihan"
myName = "Raihan"
MYNAME = "Raihan"
Myname2 = "Raihan"


print(myname)
print(my_name)
print(_my_name)
print(myName)
print(MYNAME)
print(Myname2)

Raihan
Raihan
Raihan
Raihan
Raihan
Raihan

 Invalid Variable Names

In [18]:
"""
2myname = "Raihan"
my-name = "Raihan"
my name = "Raihan"

"""

'\n2myname = "Raihan"\nmy-name = "Raihan"\nmy name = "Raihan"\n\n'

# Multi Words Variable Names

Camel Case

In [19]:
# Each word, except the first, starts with a capital letter:

myVariableName = "Raihan"

print(myVariableName)

Raihan

Pascal Case

In [20]:
# Each word starts with a capital letter:

MyVariableName = "Raihan"

print(MyVariableName)

Raihan

Snake Case

In [21]:
# Each word is separated by an underscore character:

my_variable_name = "Raihan"

print(my_variable_name)

Raihan

Many Values to Multiple Variables

In [22]:
x,y,z = 10 ,"Car", 20
print(x)
print(y)
print(z)

10
Car
20

One Value to Multiple Variables

In [23]:
x = y = z = "car"

print(x)
print(y)
print(z)

car
car
car

Unpack Collection

In [24]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [25]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [26]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [27]:
x = 5
y = 10
print(x + y)

15

In [28]:
x = "5"
y = "10"
print(x + y)

510

Global Variables

In [29]:
x = "awesome"

def function():
    print("Python is "+x)

function()

Python is awesome

In [30]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [31]:
# The global Keyword

def myfunc():
  global x
  x = "fantastic"

myfunc()
print("Python is " + x)

Python is fantastic

In [32]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Complex Number

In [33]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [34]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [35]:
# Random Number
import random

print(random.randrange(1, 10))

5

# Python Strings

In [36]:
print("Hello")
print('Hello')

Hello
Hello

In [37]:
a = "Hello, World!"
print(a[0])
print(a[1])

H
e

In [38]:
for  x in "Raihan":
    print(x)

R
a
i
h
a
n

String Length

In [39]:
a = "Raihan"
print(len(a))

6

In / Not in

In [40]:
text  = " Ronaldo is the best player in the world"
print("best" in text)

True

In [41]:
text  = " Ronaldo is the best player in the world"

if "best" in text:
    print("Yes, 'best' is present.")

Yes, 'best' is present.

In [42]:
text  = " Ronaldo is the best player in the world"
print("expensive" not in text)

True

In [43]:
text  = " Ronaldo is the best player in the world"

if "expensive" not in text:
    print("No, 'expensive' is not present.")

No, 'expensive' is not present.

Slicing Strings

In [44]:
n = "Raihan Sikdar"
print(n[2:9])

ihan Si

In [45]:
n = "Raihan Sikdar"
print(n[:11])

Raihan Sikd

In [46]:
n = "Raihan Sikdar"
print(n[-5:-3])

ik

Strings Modify

Upper Case

In [47]:
n = "Raihan Sikdar"
print(n.upper())

RAIHAN SIKDAR

Lower Case

In [48]:
n = "RaiHaN sikDaR"
print(n.lower())

raihan sikdar

String Concatenation

In [49]:
n = "Raihan"
m = "Sikdar"
print(n+m)

RaihanSikdar

In [50]:
n = "Raihan"
m = "Sikdar"
r = "Raihan" + " " + "Sikdar"
print(r)

Raihan Sikdar

String Format

In [51]:
age = 24
txt = "My name is Raihan, I am {}"
print(txt.format(age))

My name is Raihan, I am 24

In [52]:
quantity = 3
item_no = 567
price = 49.95
my_order = "I want {} pieces of item {} for {} dollars."
print(my_order.format(quantity, item_no, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [53]:
quantity = 3
item_no = 567
price = 49.95
my_order = "I want to pay {2} dollars for {0} pieces of item {1}."
print(my_order.format(quantity, item_no, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

Escape Characters

In [54]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

# Python Operators

Arithmetic Operators

In [55]:
x = 21
y = 5
print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y)
print(x ** y) # same as 21*21*21*21*21
print(x // y)

26
16
105
4.2
1
4084101
4

Comparison Operators

In [56]:
x = 5
y = 3

print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

False
True
True
False
True
False

Python Collections (Arrays)

1.List is a collection which is ordered and changeable. Allows duplicate members.

2.Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

3.Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.

4.Dictionary is a collection which is ordered** and changeable. No duplicate members.

# Python Lists

In [57]:
my_list = []
my_list_2 = list()

In [58]:
print(type(my_list),type(my_list_2))

<class 'list'> <class 'list'>

In [59]:
my_list = ["apple", "banana", "cherry", "apple", "cherry"]
print(my_list)

['apple', 'banana', 'cherry', 'apple', 'cherry']

List Length

In [60]:
my_list = ["apple", "banana", "cherry", "apple", "cherry"]
print(len(my_list))

5

In [61]:
list_1 = ["abc", 34, True, 40, "male"]
print(list_1)

['abc', 34, True, 40, 'male']

The list() Constructor

In [62]:
my_list_2 = list(("apple","banana","mango")) # note the double round-brackets
print(my_list_2)

['apple', 'banana', 'mango']

Access List Items

In [63]:
my_list = ["apple", "banana", "cherry"]
print(my_list[0])
print(my_list[-1])

apple
cherry

In [64]:
my_list = [10, 20, 30, 40, 50, 60, 70]
print(my_list[:])

[10, 20, 30, 40, 50, 60, 70]

In [65]:
my_list = [10, 20, 30, 40, 50, 60, 70]
print(my_list[2:])

[30, 40, 50, 60, 70]

In [66]:
my_list = [10, 20, 30, 40, 50, 60, 70]
print(my_list[:5])

[10, 20, 30, 40, 50]

In [67]:
my_list = [10, 20, 30, 40, 50, 60, 70]
print(my_list[-2])

60

In [68]:
my_list = [10, 20, 30, 40, 50, 60, 70]
print(my_list[2:5])

[30, 40, 50]

In [69]:
# returns the items from "40" (-4) to, but NOT including "70" (-1)

my_list = [10, 20, 30, 40, 50, 60, 70]
print(my_list[-4:-1])

[40, 50, 60]

In [70]:
my_list = [10, 20, 30, 40, 50, 60, 70]
my_list[::]

[10, 20, 30, 40, 50, 60, 70]

In [71]:
my_list = [10, 20, 30, 40, 50, 60, 70]
my_list[::2]

[10, 30, 50, 70]

In [72]:
my_list = [10, 20, 30, 40, 50, 60, 70]
my_list[::-2]

[70, 50, 30, 10]

In [73]:
# reverse
my_list = [10, 20, 30, 40, 50, 60, 70]
my_list[::-1]

[70, 60, 50, 40, 30, 20, 10]

In [74]:
my_list_2 = ["apple", "banana", "cherry"]
if "apple" in my_list_2:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

Change Item Value

In [75]:
my_list_2 = ["apple","cherry","banana"]
my_list_2[1] = "mango"
print(my_list_2)

['apple', 'mango', 'banana']

Change a Range of Item Values

In [76]:
list = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
list[1:3] = ["blackcurrant", "watermelon"]
print(list)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [77]:
list = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
list[1:5] = ["blackcurrant", "watermelon"]
print(list)

['apple', 'blackcurrant', 'watermelon', 'mango']

In [78]:
list = ["apple", "banana", "cherry"]
list[1:3] = ["watermelon"]
print(list)

['apple', 'watermelon']

Insert Items

In [79]:
my_list = [10,20,30,40]
my_list.insert(2,90)
print(my_list)

[10, 20, 90, 30, 40]

Append Items

In [80]:
my_list = [10,20,30,40]
my_list.append(90)
print(my_list)

[10, 20, 30, 40, 90]

In [81]:
list = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]

list.append(tropical)
print(list)

['apple', 'banana', 'cherry', ['mango', 'pineapple', 'papaya']]

In [82]:
my_list = [10,20,30,40]
my_list.append([90,100])
print(my_list)

[10, 20, 30, 40, [90, 100]]

Extend List

In [83]:
list = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]

list.extend(tropical)
print(list)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [84]:
my_list = [10,20,30,40]
my_list.extend([90,100])
print(my_list)

[10, 20, 30, 40, 90, 100]

Remove Item

In [85]:
list = ["apple", "banana", "cherry"]

list.remove("banana")
print(list)

['apple', 'cherry']

Remove Specified Index

In [86]:
list = ["apple", "banana","mango"]

list.pop()
print(list)

['apple', 'banana']

In [87]:
list = ["apple", "banana", "cherry","mango"]

list.pop(2)
print(list)

['apple', 'banana', 'mango']

The del keyword also removes the specified index:

In [88]:
list = ["apple", "banana","mango"]

del list[0]
print(list)

['banana', 'mango']

Clear the List

In [89]:
list = ["apple", "banana","mango"]
list.clear()
print(list)

[]

Copy List

In [90]:
my_list = [10,20,30,40]
my_list_2 = []

my_list_2 = my_list.copy()
print(my_list_2)

[10, 20, 30, 40]

list count

In [91]:
my_list = [10,20,30,20,50,20]
n = my_list.count(20)
print(n)

3

List Index

In [92]:
my_list = [10,20,30,40,50,60]
my_list.index(50)

4

Reverse list

In [93]:
list = [10, 20, 30, 40]
list.reverse()
print(list)

[40, 30, 20, 10]

Sort List

In [94]:
list = [10, 50, 100, 80, 20]
list.sort()
print(list)

[10, 20, 50, 80, 100]

Sort Descending

In [95]:
list = [10, 50, 100, 80, 20]
list.sort(reverse= True)
print(list)

[100, 80, 50, 20, 10]

Case Insensitive Sort

By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters:

In [96]:
list = ["banana", "Orange", "Kiwi", "cherry"]
list.sort()
print(list)

['Kiwi', 'Orange', 'banana', 'cherry']

In [97]:
list = ["banana", "Orange", "Kiwi", "cherry"]
list.sort(key=str.lower)
print(list)

['banana', 'cherry', 'Kiwi', 'Orange']

 Loop Lists

In [98]:
my_list = [10,20,30,40]

for i in my_list:
    print(i)

10
20
30
40

Loop Through the Index Numbers

In [99]:
my_list = [10,20,30,40]

for i in range(len( my_list)):
    print( my_list[i])

10
20
30
40

Using a While Loop

In [100]:
my_list = [10,20,30,40]

i=0
while i<len(my_list):
    print(my_list[i])
    i = i+1

10
20
30
40

Looping Using List Comprehension

In [101]:
my_list = [10,20,30,40]

[print(i) for i in my_list]

10
20
30
40

[None, None, None, None]

List Comprehension

In [102]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
new_list = []

for x in fruits:
    if "a" in x:
        new_list.append(x)

print(new_list)

['apple', 'banana', 'mango']

In [103]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [104]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

new_list = [x for x in fruits if x != "apple"]
print(new_list)

['banana', 'cherry', 'kiwi', 'mango']

In [105]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

new_list = [x for x in fruits]

print(new_list)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

Iterable

In [106]:
new_list = [x for x in range(10)]
print(new_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [107]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

new_list = [x.upper() for x in fruits]
print(new_list)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

Join Lists

In [108]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [109]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

for i in list2:
    list1.append(i)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [110]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [1]:
x = [1 + 2, "a" * 5, 3]
print(x)

[3, 'aaaaa', 3]

In [2]:
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

house = [["hallway", hall],
         ["kitchen", kit],
         ["living room", liv],
         ["bedroom", bed],
         ["bathroom", bath]]

# Print out house
print(house)

# Print out the type of house
print(type(house))

[['hallway', 11.25], ['kitchen', 18.0], ['living room', 20.0], ['bedroom', 10.75], ['bathroom', 9.5]]
<class 'list'>

In [3]:
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Sum of kitchen and bedroom area: eat_sleep_area

eat_sleep_area = areas[3] + areas[-3] 
print(eat_sleep_area)

28.75

In [4]:
house = [["hallway", 11.25],
         ["kitchen", 18.0],
         ["living room", 20.0],
         ["bedroom", 10.75],
         ["bathroom", 9.50]]

print(house[-1][1])
print(house [1][1])
print(house [2][0])

9.5
18.0
living room

In [5]:
areas = ["hallway", 11.25, "kitchen", 18.0,
        "chill zone", 20.0, "bedroom", 10.75,
         "bathroom", 10.50, "poolhouse", 24.5,
         "garage", 15.45]

del(areas[-4:-2])
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'garage', 15.45]

# Tuple

In [111]:
t = ()

In [112]:
type(t)

tuple

In [113]:
tuple_1 = ("abc", 34, True, 40, "male")
print(tuple_1)

('abc', 34, True, 40, 'male')

In [114]:
t = (10, 20, 30, 40, 50, 60)
print(t)

(10, 20, 30, 40, 50, 60)

In [115]:
t = (10, 20, 30, 40, 50, 60)
print(len(t))

6

In [116]:
t = ("apple",)
print(type(t))

#NOT a tuple
t = ("apple")
print(type(t))

<class 'tuple'>
<class 'str'>

In [117]:
t = (10,20,30)
print(t[0])

10

tuple' object does not support item assignment

In [118]:
t = (10,20,30)
t[0] = 10
print(t)

TypeError: 'tuple' object does not support item assignment

Tuple count

In [ ]:
t = (10,20,30,20,50,20)
t.count(20)

3

Tuple Index

In [ ]:
t = (10,20,30,40,50,60)
t.index(50)

4

Access Tuple Items

In [ ]:
t = (10,20,30,40,50)
print(t[2])

30

In [ ]:
t = (10,20,30,40,50)
print(t[-1])

50

Range of tuple Indexes

In [ ]:
t = (10,20,30,40,50)
print(t[2:5])

(30, 40, 50)

In [ ]:
t = ("apple", "banana", "cherry")
if "apple" in t:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

Change Tuple Values

Convert the tuple into a list to be able to change it:

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [ ]:
t = ("apple", "banana", "cherry")
y = ("orange",)
t += y

print(t)

('apple', 'banana', 'cherry', 'orange')

Remove Items

Convert the tuple into a list, remove "apple", and convert it back into a tuple:

In [ ]:
t = ("apple", "banana", "cherry")
my_list = list(t)
my_list.remove("apple")
thistuple = tuple(my_list)
print(thistuple)

('banana', 'cherry')

Unpack Tuples

In [ ]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

Using Asterisk*

In [ ]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [ ]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

Loop Tuples

In [ ]:
t = (10,20,"Raihan",20.5)
for i in t:
    print(i)

10
20
Raihan
20.5

In [ ]:
t = (10,20,"Raihan",20.5)
for i in range (len(t)):
    print(t[i])

10
20
Raihan
20.5

In [ ]:
t = (10,20,"Raihan",20.5)
i = 0
while i<len(t):
    print(t[i])
    i = i+1

10
20
Raihan
20.5

Join Tuples

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

Multiply Tuples

In [ ]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# Python Sets

In [ ]:
s = {}
s2 = ()

In [ ]:
print(type(s),type(s2))

<class 'dict'> <class 'tuple'>

In [ ]:
s = {10,20,30,40,50}
print(type(s))

<class 'set'>

In [119]:
s = set((10,20,30,40))
print(s)
print(type(s))

{40, 10, 20, 30}
<class 'set'>

Duplicates Not Allowed

In [ ]:
s = {10,20,30,40,20,40,50}
print(s)

{40, 10, 50, 20, 30}

Length of set

In [5]:
s = {10,20,30,40,50}
print(len(s))

5

In [6]:
set_1 = {"abc", 34, True, 40, "male"}
print(set_1)

{'abc', 34, True, 40, 'male'}

No indexing

In [120]:
s = {10,20,30,40,50}
s[0]

TypeError: 'set' object is not subscriptable

Unchangable

In [121]:
s = {10,20,30,40,50}
s[0] = 10
print(s)

TypeError: 'set' object does not support item assignment

Access Items using Loop

In [122]:
set_1 = {"apple", "banana", "cherry"}

for x in set_1:
  print(x)

apple
banana
cherry

In [123]:
set_1 = {"apple", "banana", "cherry"}
print("banana" in set_1)

True

Add Items

In [125]:
set_1 = {10,20,30,40}
set_1.add("Raihan")
print(set_1)

{40, 'Raihan', 10, 20, 30}

Add or Join Sets

In [128]:
set_1 = {10,20,30,40}
set_2 = {"apple","mango"}

set_1.update(set_2)
print(set_1)

{20, 'mango', 40, 10, 'apple', 30}

In [136]:
set_1 = {10,20,30,40}
set_2 = {"apple","mango"}

set_3 = set_1.union(set_2)

print(set_3)

{20, 'mango', 40, 10, 'apple', 30}

Add Any Iterable

In [129]:
set_1 = {10,20,30,40}
my_list = ["apple","mango"]

set_1.update(my_list)
print(set_1)

{'mango', 40, 'apple', 10, 20, 30}

Remove Item

In [130]:
set_1 = {10,20,30,40}
set_1.remove(20)
print(set_1)

{40, 10, 30}

discard() method

In [131]:
set_1 = {10,20,30,40}
set_1.discard(20)
print(set_1)

{40, 10, 30}

In [132]:
set_1 = {10,20,30,40}
set_1.pop()
print(set_1)

{10, 20, 30}

In [133]:
set_1 = {10,20,30,40}
set_1.clear()
print(set_1)

set()

Difference

Return a set that contains the items that only exist in set set_1, and not in set set_2

In [143]:
# Returns a set containing the difference between two or more sets
set_1 = {10,20,30,40}
set_2 = {10,40,50}

set_1.difference(set_2)

{20, 30}

In [142]:
set_1 = {10,20,30,40}
set_2 = {10,40,50}

set_2.difference(set_1)

{50}

difference_update()

Remove the items that exist in both sets

In [17]:
set_1 = {10,20,30,40}
set_2 = {10,40,50}

set_1.difference_update(set_2)
print(set_1)

{20, 30}

Intersection

Return a set that contains the items that exist in both set set_1, and set set_2

In [3]:
set_1 = {10,20,30,40}
set_2 = {10,40,50}

set_3 = set_1.intersection(set_2)
print(set_3)

{40, 10}

intersection_update()

Remove the items that is not present in both set_1 and set_2

In [14]:
set_1 = {10,20,30,40}
set_2 = {10,40,50}

set_1.intersection_update(set_2)
print(set_1)

{40, 10}

isdisjoint

returns True if none of the items are present in both sets, otherwise it returns False.

In [4]:
set_1 = {10,20,30,40}
set_2 = {10,40,50}

set_3 = set_1.isdisjoint(set_2)
print(set_3)

False

Issubset

Return True if all items in set set_1 are present in set set_2

In [5]:
set_1 = {10,20,30,40}
set_2 = {10,40,50}

set_3 = set_1.issubset(set_2)
print(set_3)

False

Issuperset

Return True if all items set set_2 are present in set set_1

In [6]:
set_1 = {10,20,30,40}
set_2 = {10,40,50}

set_3 = set_1.issuperset(set_2)
print(set_3)

False

symmetric_difference()

Return a set that contains all items from both sets, except items that are present in both sets

In [21]:
set_1 = {10,20,30,40}
set_2 = {10,40,50}

set_3 = set_1.symmetric_difference(set_2)
print(set_3)

{50, 20, 30}

symmetric_difference_update()

Remove the items that are present in both sets, AND insert the items that is not present in both sets

In [18]:
set_1 = {10,20,30,40}
set_2 = {10,40,50}

set_1.symmetric_difference_update(set_2)
print(set_1)

{50, 20, 30}

# Python Dictionaries

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [7]:
my_dict = {
    "Name" : "Raihan Sikdar",
    "ID" : 17181103133,
    "Age": 23 
}
print(my_dict)

{'Name': 'Raihan Sikdar', 'ID': 17181103133, 'Age': 23}

Dictionary Items

In [13]:
my_dict = {
    "Name" : "Raihan Sikdar",
    "ID" : 17181103133,
    "Age": 23 
}
print(my_dict["Name"])
print(my_dict["Age"])

Raihan Sikdar
23
Raihan Sikdar

In [14]:
my_dict = {
    "Name" : "Raihan Sikdar",
    "ID" : 17181103133,
    "Age": 23 
}

x =my_dict.get("Name")
print(x)

Raihan Sikdar

Key

In [15]:
my_dict = {
    "Name" : "Raihan Sikdar",
    "ID" : 17181103133,
    "Age": 23 
}

x =my_dict.keys()
print(x)

dict_keys(['Name', 'ID', 'Age'])

Duplicates Not Allowed

In [10]:
my_dict = {
    "Name" : "Raihan Sikdar",
    "ID" : 17181103133,
    "Age": 23,
    "Age": 22 
}
print(my_dict)

{'Name': 'Raihan Sikdar', 'ID': 17181103133, 'Age': 22}

Dictionary Length

In [11]:
my_dict = {
    "Name" : "Raihan Sikdar",
    "ID" : 17181103133,
    "Age": 23
}
print(len(my_dict))

3

In [12]:
my_dict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

print(type(my_dict))

<class 'dict'>

ADD Keys

In [16]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

Change Values

In [17]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

car["year"] = 2022
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2022}

update() method

In [18]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

car.update({"year" : 2022})
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2022}

ADD Value

In [20]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
} 

car["color"] = "Red"
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'Red'}

In [21]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
} 

car.update({"color": "red"})
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

Remove Item

pop() method

In [1]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
} 
car.pop("model")
print(car)

{'brand': 'Ford', 'year': 1964}

The popitem() 

method removes the last inserted item

In [2]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
} 
car.popitem()
print(car)

{'brand': 'Ford', 'model': 'Mustang'}

del keyword

In [1]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
} 
del car["model"]
print(car)

{'brand': 'Ford', 'year': 1964}

clear() 

method empties the dictionary

In [2]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
} 
car.clear()
print(car)

{}

Loop Dictionaries

keys

In [4]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
} 
for x in car:  
    print(x) # show keys

brand
model
year

In [7]:
# use keys()
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
} 
for x in car.keys():  
    print(x) # show keys

brand
model
year

values

In [5]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
} 
for x in car:  
    print(car[x]) # show value

Ford
Mustang
1964

In [10]:
# using values()
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
} 
for x in car.values():  
    print(x) # show values

Ford
Mustang
1964

Items()

In [11]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
} 
for x in car.items():  
    print(x) # show items

('brand', 'Ford')
('model', 'Mustang')
('year', 1964)

In [13]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
} 
for x,y in car.items():  
    print(x,"=>",y)

brand => Ford
model => Mustang
year => 1964

Copy Dictionaries

In [14]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
} 

my_dict = car.copy()
print(my_dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Using dict() function

In [15]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
} 

my_dict = dict(car)
print(my_dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Nested Dictionaries

In [17]:
family = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(family)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

# Python If ... Else

In [19]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [20]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

Short Hand If

In [21]:
if a > b: print("a is greater than b")

a is greater than b

Short Hand If ... Else

In [22]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [23]:
# nested condition
nid = True
age = 18

if age >= 18: 
    print("You are 18, but do you have nid?")
    if nid == True:
        print("ok you can give your vote.")
    else:
        print("please create nid")
else:
    print("You are under 18, so you can't give your vote")

You are 18, but do you have nid?
ok you can give your vote.

# While Loop

In [24]:
i = 0
n = 10

while i<=n:
    print(i)
    i = i+1

0
1
2
3
4
5
6
7
8
9
10

break statement

In [25]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

continue Statement

continue statement we can stop the current iteration, and continue with the next

In [26]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

# Python For Loops

In [27]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [28]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [31]:
for i in range(0, 15, 3):
    print(i)

0
3
6
9
12

In [29]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [30]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

# Python Functions

In [32]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

Parameters or Arguments

In [36]:
def add(a,b):
    sum = a +b
    print(sum)

def sub(x,y):
    result = x-y
    print(result)

def message():
    print("No parameter")


add(10,20)
sub(50,30)
message()

30
20
No parameter

Return value from function

In [37]:
def add (a,b):
    sum = a+b
    return sum

result = add(20,10)
print(result)

30

In [38]:
def large(a,b):
    if a>b:
        return a
    else:
        return b

result = large(10,15)
print(result)

15

Arbitrary Arguments, *args

In [39]:
def number(*num):
    print(num)

number(10,20,30,40,50)

(10, 20, 30, 40, 50)

In [44]:
def student(*details):
    print(details)

student(101,"Anis")
student(102,"Amir")

(101, 'Anis')
(102, 'Amir')

In [45]:
def student(*details):
    print(details[1])

student(101,"Anis")
student(102,"Amir")

Anis
Amir

Best Example

In [46]:
def add(*num):
    sum = 0
    for i in num:
        sum = sum + i
    print(sum)

add(10,20)
add(10,20,30)

30
60