In [2]:
print("Hello, World!")

Hello, World!

# Python Comments

In [4]:
#This is a comment
print("Hello, World!")

Hello, World!

In [5]:
print("Hello, World!") #This is a comment

Hello, World!

Multi Line Comments

In [14]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

# Python Variables

In [7]:
x=10
y="Raihan"
z =50.5
print(x)
print(y)
print(z)

10
Raihan
50.5

In [8]:
x=10
y="Raihan"
z =50.5

print(x,y,z)

10 Raihan 50.5

In [10]:
#Casting
x = str(10)      # x will be string '10'
y = int(10)      # y will be integer 10
z = float(10)    # z will be decimal 10.0
xx = complex(10) # xx will be 10+0j

print(x)
print(y)
print(z)
print(xx)

10
10
10.0
(10+0j)

In [11]:
x = "Raihan"
print(x)
#double quotes are the same as single quotes:
x = 'Raihan'
print(x)

Raihan
Raihan

In [13]:
#Case-Sensitive

a = 10
A = "Raihan"
print(a)
print(A)

10
Raihan

 Valid Variable Names

In [15]:
myname = "Raihan"
my_name = "Raihan"
_my_name = "Raihan"
myName = "Raihan"
MYNAME = "Raihan"
Myname2 = "Raihan"


print(myname)
print(my_name)
print(_my_name)
print(myName)
print(MYNAME)
print(Myname2)

Raihan
Raihan
Raihan
Raihan
Raihan
Raihan

 Invalid Variable Names

In [16]:
"""
2myname = "Raihan"
my-name = "Raihan"
my name = "Raihan"

"""

'\n2myname = "Raihan"\nmy-name = "Raihan"\nmy name = "Raihan"\n\n'

# Multi Words Variable Names

Camel Case

In [22]:
# Each word, except the first, starts with a capital letter:

myVariableName = "Raihan"

print(myVariableName)

Raihan

Pascal Case

In [23]:
# Each word starts with a capital letter:

MyVariableName = "Raihan"

print(MyVariableName)

Raihan

Snake Case

In [24]:
# Each word is separated by an underscore character:

my_variable_name = "Raihan"

print(my_variable_name)

Raihan